<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Hello world from EJS! 
    </div>
    <div>
        <a href="./print">Strona do drukowania danych</a>
    </div>
    <div>
        <a href="./code">Strona do obserwacji kodu</a>
    </div>
    <div>
        <a href="./table">Strona do tablicy</a>
    </div>
    <div>
        <a href="./login">Strona do logowania</a>
    </div>
    <div>
        <a href="./download">Strona do pobierania (zad3/lista6)</a>
    </div>
</body>
</html>