<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div>
            Username <input type="text" name="username" value="<%= username %>" />
        </div>
        <button>Save</button>
        <% if( locals.message ) { %>
            <div>
                <%= locals.message %>
            </div>
        <% } %>
    </form>
</body>
</html>