<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Użytkownik</title>
</head>
<body>

        <div>
            Witaj, <%= login %>!
        </div>
        <div>
            <form method="post">
                Kliknij tutaj, aby zmienić email.
                <button>Zmień email</button>
            </form>
        </div>
        <div>
            <a href="/data">Kliknij, by zobaczyć swoje dane</a>
        </div>
        <div>
            <a href="/logout">Wyloguj</a>
        </div>
        
</body>
</html>