<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Wpisz swoje imię
        <form method="post">
            <input type="text" value="<%= name %>" name="name">
            <button>Wyślij</button>
        </form>  
    </div>
    <div>
        <a href="./sess">Kontener sesji</a>
    </div>
    <div>
        <a href="./view">Licznik odwiedzeń</a>
    </div>
</body>
</html>