<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontener sesji</title>
</head>
<body>
    <form method="post">
        <div>
            <input type="text" name="sessionName" value="<%= sessionName %>"/>
        </div>     
        <button>Zapisz</button>
    </form>
</body>
</html>