<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyświetlenia</title>
</head>
<body>
    <% if( numberOfViews > 1) { %>
        <div>
            Liczba wyświetleń tej strony: <%= numberOfViews %>
        </div>
    <% } else { %>
        <div>
            Cześć! Odśwież tę stronę :)
        </div>
    <% } %>
</body>
</html>